:root {
	--clr-primary:  rgb(83, 119, 147);
	--clr-light-grey: rgb(212, 212, 212);
	--clr-black: rgb(13, 15, 24);
}

html {
	font-family: 'Rubik', sans-serif;
	background-color: var(--clr-primary);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%291500AC' fill-opacity='0.8' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
	font-weight: 300;
	color: var(--clr-light-grey);
}

body {
	padding: 0;
	margin: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--clr-black);
	width: 50vw;
	max-width: 800px;
	margin-top: 1%;
	padding: 1em;
	border-radius: 35px;
	transition: all 0.5s ease-in-out;
}

section, .general-information, .detail, form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#currentWeather {
	width: 30vw;
}

.location, .status {
	font-size: 2em;
}

section {
	padding: 1em;
}

#gifContainer {
	flex-direction: row;
	justify-content: center;
	/* width: 80vw; */
	/* height: 25vh; */
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 10px;
}

#weatherGif{
	width: 100%;
  	height: auto;
	border-radius: 10px;
}

.weather {
	font-size: 5em;
	font-weight: 700;
}

hr {
	width:80%;
	border-radius: 2px;
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray
}

#detailSection {
	flex-direction: row;
	justify-content: space-around;

}

.detail div{
	padding: 0.15em;
}

.detail-img {
	height: 70px;
}

.date, .title {
	font-size: 0.9em;
}

.gifDiv {
	display: flex;
}

.value {
	font-weight: 500;
}

#citySearch {
	margin: 1em;
	font-family: 'Rubik', sans-serif;
	color: var(--clr-black);
	padding: 0.8em;
	border-radius: 10px;
}

#citySearch:focus {
	outline: none;
	border: 1px solid var(--clr-primary);
	box-shadow: 0 0 10px var(--clr-primary);
}

.temps {
	display: flex;
	justify-content: space-around;
	width: 100%;
}




@media (max-width: 1200px) {


	main {
		width: 95vw;
		transition: all 0.5s ease-in-out;
		margin-top: 2%;
		padding: 1%;
		margin-bottom: 1%;
	}

	#currentWeather {
		width: 90vw;
	}

	#gifContainer {
		padding: 1.5em 0.5em 1em 0.5em;
	}
}
